<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>

<h1>Newsfeed (posts)</h1>

<%= link_to "New post", new_post_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <%# if post belongs to current user %>
      <%= link_to "Edit this post", edit_post_path(@post) %>
 
  <% end %>
</div>


