<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>

<h1>Home</h1>

<div class="navbar"> 
  <h2>Nav bar</h2>
  <%= link_to "Friends list", users_show_path %>
  <%= link_to "Search for new friends", users_index_path %>
</div>

<div> 
  <h2>Newsfeed (posts)</h2>

  <%= link_to "New post", new_post_path %>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <%= link_to "Edit this post", edit_post_path(@post) %>
    <% end %>
  </div>
</div>



